Django==3.1
djangorestframework>=3.10
exrex==0.10.5
django-phonenumber-field==6.0.0
django-macaddress==1.8.0
phonenumbers==8.12.42
drf-yasg==1.20.0
django-extensions==3.1.5
django-filter==21.1
django-jsonfield==1.4.1 