[run]
omit =
    */migrations/*
    */admin.py
    */apps.py
    */__init__.py
    */settings.py
source =
        audoma
        audoma_api
        audoma.drf
        audoma.django

[report]
omit =
    */migrations/*
    */admin.py
    */apps.py
    */__init__.py
    */settings.py
fail_under = 90
